@import "../../../styles";

.card-container {
  display: grid;
  grid-gap: 10px;
  border-radius: 3px;
  margin-top: 10px;

  @include box-shadow;

  .header {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto auto 1fr;
    padding: 10px;
    color: white ;
    align-items: center;
    background-color: $green;
  }
  ::ng-deep {
    .body {
      padding: 10px;
    }
    .footer {
      padding: 10px;
    }
  }
  .body,
  .footer {
    padding: 10px;
  }
}
