@import "../../../styles/colors";

.tab-panel {
  margin-bottom: 1rem;
}

.tab {
  border: none;
  padding: 5px 10px;
  background-color: white;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  &.active {
    border-bottom: 1px solid $blue;
    transition: all .5s;
    cursor: default;
  }
}
