@import "./../../../styles";

:host {
  padding: 1rem;
}

.pager-button {
  background-color: #f7f7f7;
  border: none;
  @include box-shadow;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  flex-direction: row;
  box-sizing: border-box;
  margin: 3px;

  &.active {
    background-color: #007acc;
    color: white;
  }
}




